<html>
<head>
    <meta charset="utf-8">
    <title>SAML Metadata Validation Service</title>
    <link type="text/css" href="/static/css/reset.css" rel="Stylesheet" />
    <link type="text/css" href="/static/css/layout.css" rel="Stylesheet" />
    <link type="text/css" href="/static/css/color.css" rel="Stylesheet" />
    <link type="text/css" href="/static/css/table.css" rel="Stylesheet" />
</head>
<body>
    <header id="header">
      <h1 style="margin-top: 1em">SAML Metadata Validation Service</h1>
    </header>
      <ul id="user-actions">
            <!--li><a class="button" href="/accounts/register/">Sign up</a></li-->
      </ul>
    </header>
<h2>SAML Metadata Validation Service Result</h2>
<p><a href="/validate">start another validation</a></p>
<p>{{validationType}} validation of {{fname}}</p>
<p>{{val_out}}</p>
<hr style="padding-top: 1em">
<input action="action" type="button" value="Back" onclick="history.go(-1);" />
</body>
